@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

hr {
    background-color: #bcbbbb;
    border: 0 none;
    color: #bcbbbb;
    height: 3px;
}

img {
    padding: 0.5em;
}

H2 {
    line-height: 75%;
    margin: .25em 0;
   /* from Firefox's default stylesheet* */
}

figure figcaption {
    text-align: center;
    line-height: 25%;
}